	a{
				text-decoration:none;
				background-color:#2471A3;
				border-radius:10px;
				padding:6px;
				color: black;
				width:50%;
			}
			 #link-container{
			padding-bottom: 10px;
			padding-left: 10px;
			padding-right: 10px;
			}

		p, div {
   		 font-family: 'Nobile', Helvetica, Arial, sans-serif;
		}
				
			body{
				color: black;
				background-color:beige; 

			}

			h1,h3 {
				font-family: 'Stencil';
			}

			.nav { 
    border: 1em solid #2471A3  ; 
    border-width: .2em 0; 
    list-style: none; 
    text-align: center; 

}
table{

	border-color: black;
	border-style:10px;
	padding:3px;
	resize: 10px;
}